<form action="home/content" method='get'>
	<div class="card">
  	<img class="card-img-top" src="assets/main.PNG" alt="Card image cap">
 		<div class="card-block">
   		<p class="card-text">입력하신 이름은 본 이벤트 이외의 용도로 사용하지 않습니다.</p>
  	</div>
	</div>
	<h1>신이 나를 만들 때</h1>
	<input type='text' name='input_text' placeholder="이름을 입력하시오.">

	<button type="submit" class="btn btn-primary">시작하기</button>
</form>